# [Data 198] Assignment 0 - Git Activity

In [1]:
import numpy as np
import pandas as pd
import matplotlib

In [21]:
df = pd.read_csv("/Users/landinh/Desktop/Data198-SP23/data/MOCK_DATA.csv")
df

,id,first_name,last_name,email,gender,ip_address
0,1,Denise,Arnow,darnow0@soundcloud.com,Female,173.47.250.167
1,2,Lenee,Clague,lclague1@miitbeian.gov.cn,Female,254.10.78.105
2,3,Freemon,Fisby,ffisby2@skyrock.com,Male,60.190.142.45
3,4,Loydie,Kinnaird,lkinnaird3@weibo.com,Male,135.150.179.225
4,5,Cedric,Wink,cwink4@hc360.com,Male,230.197.44.168
...,...,...,...,...,...,...
95,96,Henrieta,Whiston,hwhiston2n@gravatar.com,Female,4.133.147.241
96,97,Karlis,Crocker,kcrocker2o@bizjournals.com,Male,182.16.196.187
97,98,Osbourn,Large,olarge2p@patch.com,Male,56.236.49.135
98,99,Abbe,Redsall,aredsall2q@youku.com,Genderfluid,197.153.108.33
99,100,Catrina,Peniello,cpeniello2r@jimdo.com,Female,251.78.215.17